@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primary : rgb(7, 204, 145);
    --secondary : rgb(11, 141, 102);
    --white : white;
    --black : black;
    --darkGray : rgb(39, 39, 39);
}


body{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: var(--black);
    overflow-x: hidden;
}

body::selection{
    color: var(--black);
    background-color: var(--secondary);
}


/* ! =====================================- Main App */

.main-app{
    width: 100%;
    display: block;
}

/* ! ======================================  Header */


header{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header h1{
    font-size: 100px;
    color: var(--primary);
    margin-left: 70px;
}

header div.header-content{
    width: 38%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    /* background-color: red; */
}


.header-content .security-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.security-container .security-btn{
    color: var(--white);
    padding: 11px 15px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 6px;
    border: 2px solid ;
    background-color: black;
}

.security-container .change-password-btn {
    border-color: rgb(243, 57, 0);
}

.security-container .change-password-btn:hover{
    background: rgb(243, 57, 0);
}
        
.security-container .lock-btn {
    border-color: var(--secondary);
}

.security-container .lock-btn:hover{
    background: var(--secondary);
}


/* ! ================================ search */

.search-btn {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    transition: 0.2s; 
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);
}
.search-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
}
        
.search-modal-content {
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    max-height: 100vh;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.5);
    animation: modalFadeIn 0.3s ease;
    background: var(--darkGray);
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
        
.search-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 5px 25px;
}
        
.search-modal-header h3 {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

.close-search-modal {
    cursor: pointer;
    font-size: 30px;
    color: rgb(230, 0, 0);
    font-weight: bold;
    transition: 0.2s;
}
        
.close-search-modal:hover {
    color: rgb(210, 0, 0);
    transform: scale(1.1);
}
        
.search-modal-body {
    padding: 5px 25px 25px 25px;
}
        
.search-input-wrapper {
    position: relative;
    margin: 10px 0 25px 0;
}
        
.search-input-wrapper input {
    width: 100%;
    padding: 14px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 1rem;
    background: rgb(0, 0, 0);
    color: rgb(245, 245, 245);
    transition: all 0.3s ease;
    padding-left: 50px;
}
        
.search-input-wrapper input:focus {
    border-color: rgb(235, 235, 235);
    outline: none;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.2);
}
        
.search-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000000;
    pointer-events: none;
}


/* ! ================================ search results */

.search-results {
    max-height: 400px;
    overflow-y: auto;
    position: relative;
}
        
.search-result-item {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 25px 15px;
    margin-bottom: 12px;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.2s;
    border: 2px solid #000000;
}
        
.search-result-item:hover {
    border-color: rgb(240, 240, 240);
    background: rgb(0, 0, 0);
}
        
.search-result-name {
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

        
.search-result-details {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 0.85rem;
    color: rgb(245, 245, 245);
}
        
.search-result-balance {
    color: rgb(7, 204, 145);
    font-weight: bold;
}
        
.no-results {
    text-align: center;
    padding: 40px;
    color: rgb(173, 178, 187);
}


/* ! =========================================== Information Container */

.section2{
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding-left: 70px;
    /* background-color: red; */
}


.section2 .information-container{
    width: 60%;
    height: 78%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: green; */
}

.information-container .input-container{
   width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0 0 60px;
    /* background-color:blue; */
}

.input-container label{
    font-size: 16px;
    color: var(--white);
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
}

.input-container input{
    width: 95%;
    outline: none;
    padding: 13px 18px;
    color: var(--white);
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: var(--darkGray);
}
 .input-container input:focus{
    outline: none;
    border: 1px solid rgb(255, 255, 255);
 }


.information-container .btn-container{
   width: 28%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 3px 7px;
    /* background-color:rgb(255, 0, 234); */
}


.btn-container button{
    color: var(--white);
    width: 103px;
    padding: 11px 15px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: var(--darkGray);
}

.btn-container button:nth-of-type(1){
    background-color: rgb(28, 95, 56);
}

.btn-container button:nth-of-type(2){
    background-color: rgb(201, 0, 0);
}

.btn-container button:nth-of-type(1):hover{
    background-color: rgb(28, 95, 56,0.9);
}

.btn-container button:nth-of-type(2):hover{
    background-color: rgba(201, 0, 0, 0.9);
}

.section2 .image-container{
    width: 33%;
    height: 100%;
    position: relative;
    /* background-color: pink; */
}


/* .image-container img:nth-of-type(1){
    width: 200px;
    position: absolute;
    bottom: -20;
    right: 20;
    z-index: 10;
    transform: scaleX(-1);
    animation: toAir 5s linear 1;
    animation-delay: 2s;
} */


/* @keyframes toAir {
    0%{
        bottom: -20;
        right: -20;
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        transform: translate(-800px , -540px);
        opacity: 0;
    }
} */




/* ! ======================================== Data Container */

.data-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--black);
}


table {
  width: 85%;
  height: 100%;
  margin-top: 150px;
  margin-bottom: 15px;
  border: 3px solid var(--black);
  color: var(--white);
  border-radius: 10px;
  background-color: var(--darkGray);
}

table , th , tr , td {
    border: 2px solid var(--black);
    border-collapse: collapse; 
}

th , td{
    text-align: center;
    padding:20px;
}


table thead th:nth-of-type(1){
    width: 3%;
    padding: 20px 10px;
}

table thead th:nth-of-type(2){
    width: 19%;
}

table thead th:nth-of-type(3){
    width: 22%;
}

table thead th:nth-of-type(4){
    width: 25%;
}

table thead th:nth-of-type(5){
    width: 13%;
}

table thead th:nth-of-type(6){
    width: 10%;
}

table thead th:nth-of-type(7){
    width: 8%;
}

.view-btn{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    padding: 3px 12px;
    border-radius: 8px;
    border: 1px solid rgb(0, 174, 255);
    font-size: 13px;
    transition: 0.3s;
}

.view-btn:hover{
    background-color:  rgb(0, 174, 255);
}


.chart-btn{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    padding: 3px 12px;
    border-radius: 8px;
    border: 1px solid rgb(0, 255, 179);
    font-size: 13px;
    transition: 0.3s;
}

.chart-btn:hover{
    background-color: rgb(0, 255, 179);
}

.delete-btn {
    /* background: rgb(230, 0, 0); */
    background-color: transparent;
    color: var(--white);
    padding: 3px 12px;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid rgb(230, 0, 0);
    cursor: pointer;
    transition: 0.3s;
    background-color:  rgb(230, 0, 0);
}

.delete-btn:hover {
    background-color:  rgba(230, 0, 0, 0.904);
}

table tbody .empty-row{
    font-weight: bold;
}


/* ! ============================ Under Table */


.data-container .under-table-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 60px 105px;
    margin-bottom: 100px;
}

.data-container .under-table-container .counter {
    font-size: 0.85rem;
    color: var(--white);
    /* background: #ffffffce; */
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--white);
    border-radius: 10px;
    margin-right: auto;
}




/* ! =========================== Buttons Group */

.under-table-container .useful-buttons{
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.88rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 5px;
}

.under-table-container .save-backup {
    background-color: rgb(28, 95, 56);
}

.under-table-container .save-backup:hover {
    background-color: rgb(35, 119, 70);
    transform: scale(1.01);
}

.under-table-container .restore-backup {
    background-color: rgb(21, 103, 158);
}

.under-table-container .restore-backup:hover {
    background-color: rgb(26, 123, 187);
    transform: scale(1.01);
}

.under-table-container .clear-btn {
    background-color: rgb(230, 0, 0);
}

.under-table-container .clear-btn:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.01);
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}


/* ! ====================== Transaction Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
        
.modal-content {
    background: var(--darkGray);
    border-radius: 20px;
    padding: 25px;
    max-width: 600px;
    width: 90%;
    max-height: 83%;
    overflow-y: hidden;
    animation: modalFadeIn 0.3s ease;
}
        

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(90, 90, 90);
    padding-bottom: 10px;
}

.modal-header h3 {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 21px;
}
        
.close-modal {
    cursor: pointer;
    font-size: 30px;
    color: rgb(230, 0, 0);
    font-weight: bold;
    transition:0.2s;
}
        
.close-modal:hover {
    transform: scale(1.1);
    color: rgb(210, 0, 0);
}

#transactionsList{
    max-height: 359px;
    overflow-y: auto;
}

/* ! ================================ transaction item */

.transaction-item {
    background: transparent;
    color:rgb(247, 247, 247);
    padding: 12px;
    margin: 15px 0;
    border-radius: 8px;
    transition: 0.2s;
}

.transaction-item:hover{
    background: rgb(48, 48, 48);
}

.transaction-item strong{
    font-size: 16px;
    font-weight: 600;
}

.empty-state {
    text-align: center;
    color: rgb(173, 178, 187);
    padding: 40px;
}

       
.transaction-deposit {
    border-left: 3px solid rgb(0 165 116);
}
        
.transaction-withdraw {
    border-left: 3px solid rgb(255, 11, 11);
}
        
.deposit-amount {
    color: rgb(7, 204, 145);
    font-weight: bold;
}
        
.withdraw-amount {
    color: rgb(255, 11, 11);
    font-weight: bold;
}
        
.badge {
    display: inline-block;
    padding: 4px 8px;
    background: rgb(7, 204, 145);
    color: white;
    border-radius: 6px;
    font-size: 0.75rem;
}
        
.transaction-type-badge {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 0.7rem;
    margin-right: 5px;
}
        
.type-deposit {
    background: rgb(0 165 116);
    color: white;
}
        
.type-withdraw {
    background: rgb(255, 0, 0);
    color: white;
}

/* ! ======================= Clear Transactions */
.clear-transactions-btn{
    background: rgb(190, 0, 0);
    color: white;
    width: 100%;
    border: none;
    padding: 10px 24px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.3s;
}

.clear-transactions-btn:hover{
    background-color: rgb(171 0 0);
}


/* ! ======================== Chart Modal */
.chart-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
        
.chart-modal-content {
    background: var(--darkGray);
    border-radius: 28px;
    width: 90%;
    max-width: 900px;
    max-height: 100vh;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.5);
    animation: modalFadeIn 0.3s ease;
}


.chart-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    /* border-bottom: 2px solid red; */
}
        
.chart-modal-header h3 {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 25px;
}
        
.close-chart-modal {
    cursor: pointer;
    font-size: 30px;
    color: rgb(230, 0, 0);
    font-weight: bold;
    transition: transform 0.2s;
}

.close-chart-modal:hover {
    transform: scale(1.1);
    color: rgb(210, 0, 0);
}
        
.chart-modal-body {
    padding: 25px;
}
        
.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
}
        
canvas {
    max-height: 400px;
    width: 100%;
}


/* ! ======================== Login Overlay */
.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(11, 141, 102)  0%, rgb(0, 63, 44) 100%);
}
        
.login-box {
    background: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.3);
}

.login-box h2 {
    color: #ffffff;
    margin-bottom: 40px;
}
        
.login-box input {
    width: 100%;
    padding: 12px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(224, 224, 224);
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
    outline: none;
    background-color: rgb(224, 224, 224);
}
        
.login-box input:focus {
    border-color: rgb(6, 182, 129);
    outline: none;
}

.login-box button {
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(135deg, var(--primary) 0%, rgb(5, 87, 62) 100%);
}

.login-box button:hover{
    transform: scale(1.02);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 50px;
}