@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primary : rgb(7, 204, 145);
    --secondary : rgb(11, 141, 102);
    /* --secondary : rgb(0, 88, 47); */
    --white : white;
    --black : black;
    --darkGray : rgb(39, 39, 39);
}


body{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: var(--black);
    overflow-x: hidden;
}

body::selection{
    color: var(--black);
    background-color: var(--secondary);
}


/* ! ======================================  Header */


header{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header h1{
    font-size: 100px;
    color: var(--primary);
    margin-left: 70px;
}

header div.search{
    width: 35%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 0 0;
}


header div.search span {
    color: var(--white);
    font-size: 18px;
    margin-right: 5px;
}

header div.search input{
    width: 250px;
    outline: none;
    padding: 12px 15px;
    color: var(--white);
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: var(--darkGray);
}


header div.search input:focus{
    outline: none;
    border: 1px solid rgb(255, 255, 255);
}


/* ! =========================================== Information Container */

.section2{
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding-left: 70px;
    /* background-color: red; */
}


.section2 .information-container{
    width: 60%;
    height: 78%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: green; */
}

.information-container .input-container{
   width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0 0 60px;
    /* background-color:blue; */
}

.input-container label{
    font-size: 16px;
    color: var(--white);
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
}

.input-container input{
    width: 95%;
    outline: none;
    padding: 13px 18px;
    color: var(--white);
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: var(--darkGray);
}
 .input-container input:focus{
    outline: none;
    border: 1px solid rgb(255, 255, 255);
 }


.information-container .btn-container{
   width: 28%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 3px 7px;
    /* background-color:rgb(255, 0, 234); */
}


.btn-container button{
    color: var(--white);
    width: 103px;
    padding: 11px 15px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: var(--darkGray);
}

.btn-container button:nth-of-type(1){
    background-color: rgb(0, 146, 78);
}

.btn-container button:nth-of-type(2){
    background-color: rgb(201, 0, 0);
}

.btn-container button:nth-of-type(1):hover{
    background-color: rgba(0, 146, 78, 0.9);
}

.btn-container button:nth-of-type(2):hover{
    background-color: rgba(201, 0, 0, 0.9);
}



.section2 .image-container{
    width: 33%;
    height: 100%;
    position: relative;
    /* background-color: pink; */
}


/* .image-container img:nth-of-type(1){
    width: 200px;
    position: absolute;
    bottom: -20;
    right: 20;
    z-index: 10;
    transform: scaleX(-1);
    animation: toAir 5s linear 1;
    animation-delay: 2s;
} */


/* @keyframes toAir {
    0%{
        bottom: -20;
        right: -20;
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        transform: translate(-800px , -540px);
        opacity: 0;
    }
} */




/* ! ======================================== Data Container */



.data-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--black);
}


table {
  width: 85%;
  height: 100%;
  margin-top: 150px;
  margin-bottom: 15px;
  border: 3px solid var(--black);
  color: var(--white);
  border-radius: 10px;
  background-color: var(--darkGray);
}

table , th , tr , td {
    border: 2px solid var(--black);
    border-collapse: collapse; 
}

th , td{
    text-align: center;
    padding: 20px;
}

.view-btn{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    padding: 3px 12px;
    border-radius: 8px;
    border: 1px solid rgb(0, 174, 255);
    font-size: 14px;
    transition: 0.3s;
    /* background-color: rgb(0, 174, 255); */
}

.view-btn:hover{
    /* color: rgb(0, 151, 221); */
    background-color:  rgb(0, 174, 255);
}

table thead th:nth-of-type(1){
    width: 3%;
    padding: 20px 10px;
}

table thead th:nth-of-type(2){
    width: 24%;
}

table thead th:nth-of-type(3){
    width: 27%;
}

table thead th:nth-of-type(4){
    width: 30%;
}

table thead th:nth-of-type(5){
    width: 14%;
}

table thead th:nth-of-type(6){
    width: 7%;
}

.delete-btn {
    /* background: rgb(230, 0, 0); */
    background-color: transparent;
    border: none;
    color: rgb(255, 0, 0);
    /* padding: 5px 15px; */
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.delete-btn:hover {
    color: rgb(233, 0, 0);
}

table tbody .empty-row{
    font-weight: bold;
}


/* ! ============================ Under Table */


.data-container .under-table-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 60px 105px;
    margin-bottom: 100px;
}

.data-container .under-table-container .counter {
    font-size: 0.85rem;
    color: var(--white);
    /* background: #ffffffce; */
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--white);
    border-radius: 10px;
    margin-right: auto;
}


/* ! =========================== Buttons Group */

.under-table-container .useful-buttons{
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.88rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 5px;
}

.under-table-container .save-backup {
    background-color: rgb(28, 95, 56);
}

.under-table-container .save-backup:hover {
    background-color: rgb(35, 119, 70);
    transform: scale(1.01);
}

.under-table-container .restore-backup {
    background-color: rgb(21, 103, 158);
}

.under-table-container .restore-backup:hover {
    background-color: rgb(26, 123, 187);
    transform: scale(1.01);
}

.under-table-container .clear-btn {
    background-color: rgb(230, 0, 0);
}

.under-table-container .clear-btn:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.01);
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}


/* ! ====================== Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
        
.modal-content {
    background: var(--darkGray);
    border-radius: 20px;
    padding: 25px;
    max-width: 600px;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
}
        

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(90, 90, 90);
    padding-bottom: 10px;
}
        
.close-modal {
    cursor: pointer;
    font-size: 30px;
    color: rgb(230, 0, 0);
    font-weight: bold;
}
        
.close-modal:hover {
    color: rgb(194, 0, 0);
}     
           
.transaction-item {
    background: transparent;
    color:rgb(247, 247, 247);
    padding: 12px;
    margin: 15px 0;
    border-radius: 8px;
    border-left: 3px solid rgb(7, 204, 145);
}

.empty-state {
    text-align: center;
    color: rgb(157, 166, 182);
    padding: 40px;
}


.clear-transactions-btn{
    background: rgb(190, 0, 0);
    color: white;
    width: 100%;
    border: none;
    padding: 10px 24px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.clear-transactions-btn:hover{
    background-color: rgb(171 0 0);
}